{# le template hérite de base.html.twig à la racine de templates #}
{% extends 'base.html.twig' %}

{# surcharge du contenu du bloc body défini dans la base.html.twig #}
{% block body %}
    <h1>Hello World !</h1>

{% endblock %}



